:root {
	--text: 0, 0, 0;
	--bg: 255, 255, 255;
	--highlight: var(--text), 0.1;
	--border: 0.1rem solid rgb(var(--text));
}

body {
	color: rgb(var(--text));
	background-color: rgb(var(--bg));
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.5;
}

::selection {
	background-color: rgba(var(--highlight));
}

h1,
h2,
h3,
h4 {
	text-align: center;
}

ul,
ol {
	li {
		margin-block: 1em;
	}
}

#header {
	nav {
		font-size: 1.2em;
		text-transform: uppercase;
		font-weight: bold;

		p {
			float: left;
			margin: 0 0.5rem 0 0;
		}

		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			margin: 0;
			list-style-type: none;

			li {
				display: inline;
				margin-right: 0.5rem;
				margin-block: 0;
			}
		}
	}
}

#footer {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	margin: 3rem 0 1rem 0;

	nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;

		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			margin: 1em 0;
			padding: 0;
			list-style-type: none;
	
			li {
				display: inline;
				margin-right: 0.5rem;
				margin-block: 0;
				text-align: right;
			}
		}

		p {
			text-align: right;
			clear: right;
		}
	}
}

p:has(#date) {
	font-style: italic;
	text-align: center;

}

#content {
	width: 80%;
	max-width: 700px;
	margin: 2rem auto;
	padding: 1rem 2rem;
}

.postList,
#postMeta,
#reccedPages,
#pageIndex {
	dt {
		display: block;
		float: left;
		margin-right: 0.3em;

		&::after {
			content: ": ";
		}
	}

	dd {
		margin-inline-start: 0;
		list-style-type: none;

		ul {
			padding-left: 0;
		}

		li {
			display: inline;
			margin-inline-start: 0;
			list-style-type: none;

			&:not(:last-child)::after {
				content: ", ";
			}
		}
	}

	dd:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	> ol,
	> ul {
		list-style: none;
		padding-left: 0;

		> li {
			border: var(--border);
			padding: 1rem;
			margin-block: 1rem;
		}
	}

	dl {
		border: var(--border);
		padding: 1rem;
		margin-block: 1rem;
	}
}

#projIndex,
#tagsIndex {
	details {
		border: var(--border);
		padding: 1rem;
		margin-block: 1rem;
	}

	ol.postList,
	ul.postList {
		list-style: none;
		padding-left: 0;

		> li {
			border: var(--border);
			padding: 1rem;
			margin-block: 1rem;
		}
	}
}

.series {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	margin-block: 1rem;
	padding: 1rem;
	align-items: center;
	border: var(--border);

	div:nth-child(2) {
		text-align: center;
	}

	div:last-child {
		text-align: right;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 0.9em;
	}
}