<div id="postMeta">
	<dl>
		<dt>tags</dt>
		<dd>
			<ul>
				<li><a href="/pages/tags.html#tag-a">#tag a</a></li>
			</ul>
		</dd>
		<dt>projects</dt>
		<dd>
			<ul>
				<li><a href="/pages/projects.html#project-a">project a</a></li>
			</ul>
		</dd>
	</dl>
	<nav>
		<div class="series">
			<div><a href="/posts/2024-09-23_example.html">← previous post</a>
				<p>example</p>
			</div>
			<div><a href="/posts/">all posts</a></div>
			<div>last post</div>
		</div>
		<div class="series">
			<div><a href="/posts/2024-09-22_archetype.html">← previous post</a>
				<p>archetype</p>
			</div>
			<div><a href="/pages/projects.html#project-a">project a</a></div>
			<div>last post</div>
		</div>
	</nav>
</div>